body {
	padding-top: 10vh;
	}

#header {
	background-color: black;
	color: white;
	height: 8vh;
	padding-top: 1vh;
	padding-left: 3vw;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#header h1 {
	font-size: 4vh;
	margin-top: 1vh;
}

#clocksDiv {
	overflow: scroll;
	height: 80vh;
	position: relative;
}

.clockDiv {
	height: 15vh;
	width: 30vh;
	clear: both;
	position: absolute;
	border: 0.5px solid black;
}

h3 {
	padding: 0.5vh;
	font-size: 2vh;
	margin: 0;
}

.titleUpdate {
	display: none;
}

.clockMoveSpan {
	float: right;
}

.clockSVGDiv {
	margin: 0.5vh;
}

.clockControls {
	margin: 0.5vh;
}

.newClockLabelCurrentlyP {
	font-size: 1.2vh;
	margin-bottom: 0;
}

.newClockLabelP {
	margin-top: 0;
	margin-bottom: 1vh;
	font-size: 2vh;
}

.newClockSegmentViewDiv {
	margin-top: 0.5vh;
	text-align: right;
}

.newClockControlButton {
	height: 3vh;
/* 	padding: 0; */
}

.dumbColorSelectButton {
	height: 1vh;
}

.colorInput {
	max-width: 5vh;
}

#controlsDiv {
	clear: both;
	background-color: black;
	padding: 3vh;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}